
	
#hud .window {
	color: #00FF00;
	border:1px solid #00FF00;
	background-color:#050505;
	opacity:0.95;
	display:inline-block;
	width:auto;
	min-width:150px;
	min-height:45px;
}

#hud .window .header {
	min-height:35px;
	line-height:35px;
	font-weight:bold;
	background-color:#002000;
	text-align:center; 
}