@font-face {
  font-family: 'weggeFont';
  src: url('spyagency3expand.ttf') format('truetype');
  font-stretch:expanded;
}

@font-face {
  font-family: 'weggeFontBold';
  src: url('spyagency3out.ttf') format('truetype');
  font-weight: bold;
}

body {
	font-family: weggeFont;
	font-size: 120%;
	font-size:120%;
	margin:0;
	padding:0;
	overflow: hidden;
	border:0;
	background-color: Black;
}

body b {
	font-family: weggeFontBold;
	font-size:110%;
}
			
#container {	
	display:block;
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
}

#container  canvas {
	padding:0;
}

.hidden {
	display:none;
}