body, div {
	margin:0;
	padding:0;
	border:0;
}

body {
	font-family: Cambria, sans-serif;	
	overflow: hidden;
	background-color: Black;
	font-size:4mm;
}

.cleaner {
	clear:both;
	display:block;
}

.column {
	display:inline-block;
	float:left;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.half {
	width:50%;
}

#ui {
	z-index:100000;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	color:White;
}

#ui div.container {
	background-color:Black;
	opacity:0.8;
}

#ui ul {
	padding:0;
	margin:0;
}

#ui ul li {
	padding:0px 0px 0px 15px;
}

#ui ul.menu {
	list-style-type:none;
	text-align:center;
	margin-top:10px;
}

#ui ul.menu li {
	display:inline-block;
	border:solid 1px #E0E0E0;		
	cursor:pointer;
	padding:2px;
	margin-right:10px;
	border-radius:5px;
}

#ui ul.menu li:hover {
	background-color:#909090;
}

#ui .main-menu,
#ui .resources ul.menu {
	font-size:5mm;
}

#ui .main-menu ul.menu {
	text-align:left;
	margin-top:0;
}

#ui .main-menu ul.menu li,
#ui .resources ul.menu li  {
	padding:5px 15px;
	margin-right:20px;
	border-radius:10px;
}

#ui ul.node-tree {
	list-style-position: inside;
}

#ui ul.node-tree li {	
		
}

#ui ul.node-tree a:hover {	
	text-decoration:underline;
	cursor:pointer;
}

#ui ul.node-tree a.selected ,
#ui .resources .list tr.selected {	
	font-weight:bold;
	cursor:default;
	color:#A0FFA0;
}

#ui ul.node-tree ul.selected {	
	color:#90E090;
}

#ui ul.form {
	list-style-type:none;
}

#ui ul.form li {
	/*padding:5px 15px;*/
}

#ui .form-item input {
	max-width:70%;
	font-family:monospace;
	display:inline-block;
	margin:1px;
}

#ui .form-item label {
	min-width:25%;
	display:inline-block;
}

#ui .overlay {
	display:block;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:Black;
	opacity:0.5;
}

#ui .list {

}

#ui .list td , #ui .tile {
	cursor:pointer;
	padding:10px;
	margin:2px;
	background-color:#202030;
}

#ui .list tr:hover td {
	background-color:#404060;
}

#ui .tile {
	float: left;
    display: inline-block;
    width: 150px;
}

#ui .border {
	border:solid 1px White;
	padding:15px;
	margin:15px;
}